<% visiter=notification.visiter %>
<% post=notification.micropost %>
<li>
  <div class="user-view clearfix microposts">
    <%= link_to user_path(notification.visiter) do %>
      <%= image_tag notification.visiter.image.thumb_mini.url %>
    <% end %>
    <%== notification_form(notification) %>
    <span class="moderate-font">
      <%= " (#{time_ago_in_words(notification.created_at)}å‰)" %>
    </span>
    <br>
    <% if !@comment.nil? %>
      <p class="moderate-font"><%= @comment %></p>
    <% end %>
  </div>
</li>
