<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-6">
    <%= render 'users/shared/stats_info' %>
    <%= link_to '全てのユーザーをみる', index_all_users_path, class:'link' %>
  </aside>
  <div class="col-md-6">
    <h3><%= @title %></h3>
    <% if @user.likes.any? %>
      <%= will_paginate @microposts %>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
