<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-6">
    <%= render 'users/shared/show_info' %>
  </aside>
  <div class="col-md-6">
      <% if @users.any? %>
        <h3><%= @title %></h3>
        <% @user.following.each do |user| %>
          <table>
            <li class="microposts">
              <td><%= link_to image_tag(user.image.thumb_mini.url), user_path(user) %></td>
              <td><%= user.name %></td>
            </li>
          </table>
        <% end %>
        <%= will_paginate %>
      <% else %>
      <h3>followしているユーザーがいません。
      <% end %>
  </div>
</div>
