<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-6">
    <%= render 'users/shared/stats_info' %>
  </aside>
  <div class="col-md-6 follow">
      <% if @users.any? %>
        <h3><%= @title %></h3>
        <%= will_paginate %>
            <% @user.followers.each do |user| %>
              <li>
                <%= link_to image_tag(user.image.thumb_mini.url), user_path(user) %>
                <%= link_to user.name, user_path(user) %>
              </li>
            <% end %>
        <%= will_paginate %>
      <% else %>
      <h3>followされているユーザーがいません。
      <% end %>
  </div>
</div>
