<li id="micropost-<%= micropost.id %>">
  <div class='icon'>
    <span class="user">
      <%= image_tag micropost.user.image.thumb_mini.url %>
      <%= link_to micropost.user.name, micropost.user, class: 'link' %>
    </span>
  </div>
  <div class='summary'>
    <span class="content">
      <%= micropost.content %>
      <%= image_tag micropost.display_post_image if micropost.post_image.attached? %>
    </span>
    <span class="timestamp">
      投稿日 <%= time_ago_in_words(micropost.created_at) %> ago.<br/>
      <% if current_user == micropost.user %>
        <%= link_to "削除する", micropost, method: :delete,
        data: { confirm: "投稿を削除します?" }, class: "link" %>
      <% end %><br/>
      <%= link_to 'コメントする', micropost_path(micropost.id), class: 'link' %><br/>
    </span>
    <span class="like" id="like_form_<%= micropost.id %>">
      <% if micropost.liked_by.include?(current_user) %>
        <%= render "microposts/unlike", micropost: micropost %>
      <% else %>
        <%= render "microposts/like", micropost: micropost %>
      <% end %>
    </span>
  </div>
</li>
