<% provide(:title, "Comment") %>
<div class="row">
  <aside class="col-md-8">
    <span class="content">
      <%= @micropost.content %><br/>
      <%= image_tag @micropost.display_post_image if @micropost.post_image.attached? %>
    </span>
  </aside>
  <div class="col-md-4 follow">
    <%= render 'shared/comment_form' %>
    <% if @comments.any? %>
        <%= render 'shared/comment_feed' %>
    <% end %>
    <%= link_to "ホームへ戻る", users_path, class: 'link' %>
  </div>
</div>
