<header>
  <nav class="navbar navbar-fixed-top navbar-default navbar-left">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <% if user_signed_in? %>
          <%= link_to 'Photo app', users_path, id: "logo" %>
        <% else %>
          <%= link_to 'Photo app', root_path, id: "logo" %>
        <% end %>
      </div>
      <div class="collapse navbar-collapse navbar-right" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active">
            <% if user_signed_in? %>
              <%= link_to 'Home', users_path %>
            <% else %>
              <%= link_to 'Home', root_path %>
            <% end %>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li>
              <% if unchecked_notifications.any? %>
                <%= link_to notifications_path do %>
                  <i class="fa fa-circle notification-circle">Notice</i>
                <% end %>
              <% else %>
                <%= link_to 'Notice', notifications_path %>
              <% end %>
            </li>
            <li><%= link_to 'Mypage', user_path(current_user) %></li>
            <li><%= link_to 'Upload',  new_micropost_path %></li>
            <li><%= link_to 'Logout',  destroy_user_session_path, method: :delete, data: {confirm: "ログアウトします。よろしいですか？"} %></li>
          <% else %>
            <li><%= link_to 'Contact', contact_path %></li>
            <li><a href="/users/sign_up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/users/sign_in"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
